html,
body,
.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bg-white {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

.blah-blah {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: 110%;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

.blabber-welcome {
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.95);
}